@use "./colors";
@use "./breakpoints";
@use "./variables";
@use "./mixins";

#lucky-draw {
  position: fixed;
  top: 0 !important;
  left: 0 !important;
  width: 100%;
  min-height: 100dvh;
  text-align: center;
  // position: relative;
  z-index: variables.$z-index-lucky-draw; // make sure contents are on top of confetting
}

.title {
  height: auto;
  max-width: variables.$title-width;
  width: 100%;
  margin: variables.$title-margin-top 0 variables.$title-margin-bottom 0;
  position: relative;
  z-index: variables.$z-index-title; // make sure title on top of sunburst
  color: colors.$color-title-border;
  display: none;

  @each $media-query, $factor in variables.$scale-factors {
    @media #{$media-query} {
      max-width: variables.$title-width * $factor;
      margin: variables.$title-margin-top 0 variables.$title-margin-bottom *
        $factor 0;
    }
  }

  svg {
    width: 100%;
    height: auto;
    display: block;
  }
}

.control-group {
  position: absolute;
  top: 1rem;
  right: 1rem;

  .icon-button {
    margin: 0 0 0 1.5rem;
  }
}

.slot {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -20%);

  &__outer {
    width: variables.$slot-width;
    height: variables.$slot-height;
    padding: variables.$slot-border-width;
    margin: 0 auto;
    border-radius: variables.$slot-border-radius;
    // @include mixins.shadow('large');
    position: relative;
    z-index: variables.$z-index-slot; // make sure slot is on top of sunburst
  }

  &__inner {
    background-color: colors.$color-slot-inner-background;
    width: 100%;
    height: 100%;
    border-radius: variables.$slot-border-radius;
    position: relative;
    overflow: hidden;
    padding: variables.$slot-inner-padding;
  }

  &__shadow {
    background: linear-gradient(
      180deg,
      rgba(colors.$color-white, 0.1) 0.13%,
      rgba(colors.$color-black, 0.1) 100%
    );
    height: 5.625rem;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom-right-radius: variables.$slot-border-radius;
    border-bottom-left-radius: variables.$slot-border-radius;
  }

  @each $media-query, $factor in variables.$scale-factors {
    @media #{$media-query} {
      width: variables.$slot-width * $factor;
      height: variables.$slot-height * $factor;
      margin: 0 auto;

      &__outer {
        transform: scale($factor);
        transform-origin: top left;
      }
    }
  }
}

.reel {
  width: 100%;

  > div {
    height: variables.$reel-item-height;
    font-size: 6.5rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: -0.25rem;
    line-height: variables.$reel-item-height;
    color: white;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-family: tungsten;
    /* enable gpu accelaration to fix iOS flicker issue */
    transform: translate3d(0, 0, 0);
  }
}

#draw-button {
  width: variables.$draw-button-width;
  max-width: 100%;
  margin: variables.$draw-button-margin-top 57rem 0;
  position: relative;
  z-index: variables.$z-index-draw-button; // make sure draw button on top of sunburst

  @each $media-query, $factor in variables.$scale-factors {
    @media #{$media-query} {
      width: variables.$draw-button-width * $factor;
      margin: variables.$draw-button-margin-top * $factor 0 0;
      font-size: max((1.75rem * $factor), 1rem);
      line-height: max((1.75rem * $factor), 1rem);
      padding: 1rem * $factor 0.625rem * $factor;
      border-radius: 0.625rem * $factor;
      @include mixins.shadow("large", $factor);
    }
  }
}

.settings {
  position: fixed;
  z-index: variables.$z-index-settings - 1;
  background-color: colors.$color-settings-mask;
  content: " ";
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  display: none;

  &__panel {
    position: fixed;
    top: 0;
    right: 0;
    z-index: variables.$z-index-settings;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    max-width: variables.$setting-panel-max-width;
    padding: 3.125rem 3.125rem 0 3.125rem;
    overflow: auto;
    -webkit-overflow-scrolling: auto;

    // Worksround for firefox overflow padding bottom issue
    // https://bugzilla.mozilla.org/show_bug.cgi?id=748518
    &__group:last-child {
      padding-bottom: 3.125rem;
    }

    @media #{breakpoints.$mobile} {
      padding: 10% 10% 0 10%;

      &__group:last-child {
        padding-bottom: 10%;
      }
    }
  }

  &__title {
    margin: 0 0 1.875rem 0;
    font-size: 2rem;
    font-weight: bold;
  }

  #settings-save,
  #settings-close {
    margin: 1.875rem 0 0 0;
    display: block;
    width: 100%;
  }
}

.theme--red .settings__panel {
  background-color: colors.$color-settings-background-red;
  color: colors.$color-text-light;
}

.theme--purple .settings__panel {
  background-color: colors.$color-settings-background-purple;
  color: colors.$color-text-light;
}

// Winning effects
.sunburst {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -50vh 0 0 -50vw;
  width: 100vw;
  height: 100vh;
  display: none;
  z-index: variables.$z-index-sunburst;
  pointer-events: none;
  overflow: hidden;

  > img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -50vmin 0 0 -50vmin;
    width: 100vmin;
    height: auto;
    animation: rotate 10s infinite linear;
  }
}

.confetti {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: variables.$z-index-confetti;
  pointer-events: none;
}
