@use "sass:math";
@use "./breakpoints";

// scale factor
$medium-desktop-scale-factor: 0.8;
$small-desktop-scale-factor: 0.66;
$tablet-scale-factor: 0.5;
$mobile-scale-factor: 0.288;
$scale-factors: (
  breakpoints.$medium-desktop: $medium-desktop-scale-factor,
  breakpoints.$small-desktop: $small-desktop-scale-factor,
  breakpoints.$tablet: $tablet-scale-factor,
  breakpoints.$mobile: $mobile-scale-factor,
);

// z-index
$z-index-sunburst: 0;
$z-index-confetti: 1;
$z-index-lucky-draw: 2;
$z-index-slot: 3;
$z-index-title: 4;
$z-index-draw-button: 5;
$z-index-settings: 10;

// title
$title-width: 31rem;
$title-margin-top: 1.75rem;
$title-margin-bottom: 4.875rem;

// reel
$reel-item-height: 11rem;

// slot
$slot-width: 127rem;
$slot-height: 28.5rem;
$slot-border-radius: 42px;
$slot-border-width: 1.625rem;
$slot-inner-padding: math.div(
  $slot-height - ($slot-border-width * 2) - $reel-item-height,
  2
);

// draw-button
$draw-button-margin-top: 53rem;
$draw-button-width: 50rem;

// settings
$setting-panel-max-width: 33.125rem; // 530px;

// switch
$switch-handle-diameter: 24px;
$switch-slider-width: 75px;
$switch-slider-height: 30px;
$switch-slider-padding: math.div(
  $switch-slider-height - $switch-handle-diameter,
  2
);
